extends layout.pug

block layout-content
  main.all-students
    form(method="POST")
      label.label Name
      input(class="student-input" name="name" value=`${student.name}`)

      label.label Surname
      input(class="student-input" name="surname" value=`${student.surname}`)

      label.label Date of birth
      input(class="student-input" name="dob" value=`${student.dob}`)

      label.label Faculty
      input(class="student-input" name="faculty" value=`${student.faculty}`)

      label.label Email adress
      input(class="student-input" name="email" value=`${student.email}`)

      label.label Mobile phone
      input(class="student-input" name="mobile" value=`${student.mobile}`)

      
      br

      
      button.create-student-btn Save information